*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-size: 18px;
}
html{
    background-color: #faf0e4;
    scroll-behavior: smooth;
}
.horizontal-bar{
    background-color: rgba(49,49,49,.2);
    height: 2px;
    width: 100%;   
    margin: 30px 0;
}
.vertical-bar{
    border: 1px solid black;
    height: auto;
    margin: 0 30px;
    position: relative;
}
/* sidebar */
.sidebar{
    background-color: #313131;
    height: 100vh;
    width: 25%;
    padding: 20px 0 20px 24px;
    position: fixed;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
}

.section-list{
    display: flex;
    flex-direction: column;
}

.section-list a{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    width: 100%;
}

.section-list a:hover{
    background-color: #363636;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #313131;
    height: 200px;
    width: 100%;
    margin: 50px 0;
}

.profile img{
    border-radius: 50%;
    width: 150px;
    background-color: #faf0e4;
    margin-left: 20px;
}

.sidebar::before{
    background-color: hsla(0,0%,73%,.3);
    content: "";
    height: 100%;
    left: 24px;
    position: absolute;
    top: 0;
    width: 2px;
}

/* main */
.main-section{
    background-color: #faf0e4;
    width: 100%;
    padding-left: calc(100% * 0.25);
}

.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-bottom: #747474 1px solid;
}

.section .title{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #f0e3d3;
    height: 260px;
}

.section .content{
    padding: 80px 100px;
}

.content table th{
    text-align: left;
    width: 50%;
}

.content table td{
    text-align: left;
    padding-bottom: 20px;
    color: #747474;
}

.info-description{
    color: #747474;
}

/* experience */
.experience-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: absolute;
}

.experience-title{
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0;
}

.experience-sub-title{
    font-size: 20px;
    margin-bottom: 30px;
}

.experience ul li p{
    color: #747474;
    margin: 10px 0;
}